<div
  class="bg-white shadow-lg rounded-lg p-4 h-64 flex flex-col justify-between relative"
>
  <div class="flex justify-between items-center mb-2">
    <div *ngIf="isEditing; else viewMode">
      <input
        [(ngModel)]="editingTaskData.title"
        name="editTitle"
        class="text-xl font-semibold border px-2 py-1 rounded"
      />
    </div>
    <ng-template #viewMode>
      <h3 class="text-xl font-semibold">{{ task.title }}</h3>
    </ng-template>
  </div>
  <div *ngIf="isEditing; else viewDescription">
    <textarea
      [(ngModel)]="editingTaskData.description"
      name="editDescription"
      class="w-full px-2 py-1 border rounded"
    ></textarea>
  </div>
  <ng-template #viewDescription>
    <p class="mb-2">{{ task.description }}</p>
  </ng-template>
  <div class="relative z-10">
    <span
      (click)="toggleStatusDropdown()"
      [ngClass]="StatusMapper[task.status].class"
      class="cursor-pointer w-32 px-2 py-1 rounded-full font-bold text-center inline-block"
    >
      {{ StatusMapper[task.status].label }}
    </span>
    <div
      *ngIf="showDropdown"
      class="absolute bg-white shadow-md rounded mt-1 z-20"
    >
      <ul class="py-1">
        <li
          *ngIf="task.status === StatusTask.TODO"
          (click)="changeTaskStatus(StatusTask.IN_PROGRESS)"
          class="bg-yellow-200 px-4 py-2 cursor-pointer rounded-t-md"
        >
          Move to IN PROGRESS
        </li>
        <li
          *ngIf="task.status === StatusTask.IN_PROGRESS"
          (click)="changeTaskStatus(StatusTask.DONE)"
          class="bg-green-200 px-4 py-2 cursor-pointer"
        >
          Move to DONE
        </li>
        <li
          *ngIf="task.status === StatusTask.IN_PROGRESS"
          (click)="changeTaskStatus(StatusTask.TODO)"
          class="bg-gray-200 px-4 py-2 cursor-pointer"
        >
          Move to TO-DO
        </li>
        <li
          *ngIf="task.status === StatusTask.DONE"
          (click)="changeTaskStatus(StatusTask.IN_PROGRESS)"
          class="bg-yellow-200 px-4 py-2 cursor-pointer rounded-b-md"
        >
          Move to IN PROGRESS
        </li>
      </ul>
    </div>
  </div>
  <div class="absolute bottom-2 right-2 space-x-2 flex flex-col z-20">
    <div class="flex space-x-2">
      <button
        *ngIf="task.status === 'TODO' && !isEditing"
        (click)="startEditing()"
        class="text-xl"
      >
        ✏️
      </button>
      <button *ngIf="isEditing" (click)="saveTask()" class="text-xl">✔️</button>
      <button *ngIf="isEditing" (click)="cancelEditing()" class="text-xl">
        ❌
      </button>
      <button (click)="delete()" class="text-xl">🗑️</button>
    </div>
  </div>
</div>
